// ==========================================================================
//
//  Layout
//    Primary stylesheet
//
// ==========================================================================


html {
	background-color: #fefefe;
	overflow-x: hidden;
}

html.no-touch {
	overflow-y: auto;
}

body {
	position: relative;
	width: 100%;
	height: 100%;
	@include clearfix;
	opacity: 1;
	border-top: 24px solid white;


	&.admin-bar {
		padding-top: 32px;

		@include media($mobile-down) {
			padding-top: 46px;
		}
	}

	@include media($mobile-down) {
		border-top: none;
	}

	transition: opacity 3s;

	&.faded {
		opacity: 0;
	}
}

#container {
	*zoom: 1;
	margin-left: auto;
	margin-right: auto;
	@include clearfix;

	position: relative;
	width: $large-desktop;
	height: 760px;
	z-index: 1;

	@include media($mobile-down) {
		max-width: $mobile;
		width: auto;
		height: auto;
	}
}

#background-slideshow {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 0;
	text-align: center;
	overflow: hidden;

	.slide {
		position: relative;
		height: 650px;
		width: 100%;
		background-size: cover;
		background-position: center top;
	}

	.slick-list {
		margin-top: -24px;
	}

	@include media($mobile-down) {
		display: none;
	}
}

// --------------------------------------------------------------------------
//   Header
// --------------------------------------------------------------------------

#primary-message {
	display: none;
	background: #e2b528;
	background: rgba(#ffc82e, 0.9);
	mix-blend-mode: multiply;

	color: white;
	text-transform: uppercase;
	text-align: center;
	font-weight: 600;
	font-size: 22px;
	line-height: 1.2;

	padding: 10px;

	@include media($mobile-down) {
		display: block;
	}
}

// --------------------------------------------------------------------------
//   Main Content
// --------------------------------------------------------------------------

#main-wrapper {
	float: left;
	display: block;
	width: 838px;
	position: relative;

	// ----- Mobile ----- //

	@include media($mobile-down) {
		@include span-columns(4);
	}
}

#close-panel {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 9999;
}


// --------------------------------------------------------------------------
//   Content
// --------------------------------------------------------------------------

#content {
	padding: 25px;
	background: white;
	background: rgba(#fff, 0.9);
	width: 100%;
	height: 650px;

	font-size: 13px;
	font-weight: 500;
	line-height: 1.2;

	@include media($mobile-down) {
		height: auto;
		padding: 10px;
		margin-top: 30px;
	}
}

.text-content {
	max-width: 420px;
	padding: 0 10px;

	@include media($mobile-down) {
		max-width: none;
	}
}

// ----- Home ----- //

#content.home {
	text-transform: uppercase;
	background: none;

	.no-mb {
		margin-bottom: 0;
	}

	p {
		margin-bottom: 7px;
	}

	.ghost-button {
		margin-top: 5px;
	}

}


// ----- The Bloom Story ----- //

#content.the-bloom-story {
	background: url(/images/content/bg-the-bloom-story.jpg) no-repeat top left;
	background-size: cover;
}


// ----- Location ----- //

#content.location {

	.float-right {
		margin-right: 60px;
		font-size: 18px;

		@include media($mobile-down) {
			margin-right: auto;
		}
	}
}


// ----- The Bloom Story ----- //

#content.the-bloom-story {

	@include media($mobile-down) {
		padding: 20px 20px 30px;
		margin-top: 0px;
	}

	.text-content {
		margin-top: 50px;
		max-width: 480px;

		@include media($mobile-down) {
			margin-top: 20px;
		}
	}
}

// ----- Design and Plans ----- //

#content.design-and-plans {

	.big {
		font-size: 30px;
	}

	.grey {
		color: #414042;
	}
}


// --------------------------------------------------------------------------
//   Sidebar
// --------------------------------------------------------------------------

#sidebar-wrapper {
	@include span-columns(2.1, block-collapse);
	position: relative;
	height: 100%;
	background: #e2b528;
	background: rgba(#ffc82e, 0.9);
	mix-blend-mode: multiply;

	text-align: center;

	header {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		text-align: center;

		@include media($mobile-down) {
			position: relative;
			top: auto;
			padding: 10px 0;
		}
	}


	// ----- Mobile ----- //

	@include media($mobile-down) {
		@include span-columns(4);
		height: auto;
	}
}


// --------------------------------------------------------------------------
//  Navigation
// --------------------------------------------------------------------------

#navigatiopn {
	padding-top: 50px;

	a {
		display: block;
		color: #231f20;
		text-transform: uppercase;
		font-size: 14px;
		line-height: 2.4;
		font-weight: 500;

		&:hover {
			color: white;
		}
	}

	@include media($mobile-down) {
		padding: 10px;
	}
}

// --------------------------------------------------------------------------
//   Footer
// --------------------------------------------------------------------------

#footer-wrapper {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	padding-bottom: 25px;

	@include media($mobile-down) {
		display: none;
	}
}

.address {
	@include span-columns(2.4);
	padding: 25px 5px 0;
	text-align: center;
	color: white;
	text-transform: uppercase;
	line-height: 1.1;
	font-size: 12px;
	font-weight: 600;

	@include media($mobile-down) {
		@include span-columns(4);
	}
}

.contact {
	@include span-columns(6.6);
	text-transform: uppercase;

	h3 {
		font-size: 16px;
		color: #6d6e71;
		font-weight: 500;
	}

	ul {
		padding: 0;
		margin: 0;
		display: inline-block;
		list-style: none;

		li {
			float: left;
			margin-right: 35px;
			line-height: 1.4;
			color: #231f20;
			font-weight: 600;
		}
	}

	@include media($mobile-down) {
		@include span-columns(4);
	}
}

.developer-link {
	@include span-columns(3);
	@include omega;

	text-align: right;
	padding-right: 35px;
	color: #aa4430;
	font-size: 14px;
	font-weight: 600;

	img {
		vertical-align: text-top;
		margin-left: 10px;
	}

	@include media($mobile-down) {
		@include span-columns(4);
	}
}


// --------------------------------------------------------------------------
//  Browse Happy
// --------------------------------------------------------------------------

.browsehappy {
	position: absolute;
	z-index: 9999;
	max-width: 400px;
	padding: 30px;
	left: 50%;
	margin-left: -200px;
	top: 100px;
	text-align: center;

	background: #ffc82e;
	color: #231f20;
}
