<h1 class="hide">Developer</h1>

<slick>
	<div><img src="/images/content/Developer-Image-1.png" alt="Giorgi Group"></div>
	<div><img src="/images/content/Developer-Image-2.png" alt="Giorgi Group"></div>
	<div><img src="/images/content/Developer-Image-3.png" alt="Giorgi Group"></div>
</slick>

<div class="text-content">

	<p>Over more than 25 years, Giorgi Group has built a reputation for developing high quality residential and commercial property projects. Giorgi Group have won a number of awards for projects. A residential development, The Boot Factory in Northbridge, was the winner of a national HIA Australian High Density Project Award.</p>

	<p>We employ a multidisciplinary team of strategists, architects, builders and project managers to ensure that every project is expertly executed, from concept to completion.</p>

</div>
