<h1 class="hide">Life at Bloom</h1>

<slick>
	<div><img src="/images/content/City-Beach.png" alt=""></div>
	<div><img src="/images/content/Herdsman-Lake.png" alt=""></div>
	<div><img src="/images/content/Oxford-Street.png" alt=""></div>
	<div><img src="/images/content/Wembley-Golf Course.png" alt=""></div>
</slick>

<div class="text-content">

	<p>Your new home at Bloom Terraces nestles in a secure leafy enclave between city and coast on the edge of a nature sanctuary, with all the attractions of Perth’s western suburbs just minutes away.</p>

	<p>The word Bloom elicits a sense of beauty, nature and renewal – reflecting the landscaped gardens surrounding the homes together with the nature spaces of nearby Herdsman Lake Regional Park. The best of the west is yours at Bloom Terraces, Wembley.</p>

</div>
