<h1 class="hide">The Bloom Story</h1>

<img src="/images/content/title-the-bloom-story.png" alt="The Bloom Story">

<br>
<br>

<div class="text-content">
	<p>A backward glance at the history of a site can unlock rich community stories. John Street lived and worked for much of his life in his own small engineering firm on the site of Bloom Terraces.</p>
	<p>John didn’t have children and when the property was sold to Giorgi Group in 2013 after his death, millions of dollars in proceeds were donated according to John’s wishes to the Cancer Foundation.</p>
	<p>John’s generous gift continues to support cancer patients and their families</p>
</div>
